<div class="row row-no-gutters m-3">
    <div class="card-body col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Fill out the information below to generate a quote</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("GetQuote", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col-md-12">
                        <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="DateOfBirth" type="date" class="form-control" placeholder="Date of Birth" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarYear" type="number" class="form-control" placeholder="Car Year" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="DUI">Have you ever had a DUI?</label>
                        <select class="form-control" name="DUI">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <input name="SpeedingTickets" type="number" class="form-control" placeholder="Number of speeding tickets" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="coverageType1">Would you like full coverage or liability?</label>
                        <select class="form-control" name="FullCoverageOrLiability">
                            <option value="Full Coverage">Full Coverage</option>
                            <option value="Liability">Liability</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
            }

        </div>
    </div>
</div>





















































@*@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeedingTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DUI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeedingTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoverageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
         </td>
        <td>
            <button type="submit" class="btn btn-danger btn-block">
                Get Quote
            </button> 
        </td>
    </tr>
}

</table>*@
